@import "../vendor/bootstrap/less/bootstrap";
@import "../vendor/bootstrap/less/responsive";

@gridGutterWidth: 0px;
@gridGutterWidth1200: 0px;
@gridGutterWidth768: 0px;

html, body, .fill {
  height: 100%;
}

#layer-list li > span,
#layer-list li > div > span {
  margin-left: 5px;
}

#main-container {
  padding-top: 40px; // Get out of the way of the navbar
  // Some trick to get the padding included in the container height and rid yourself of scrollbars                 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// Sidebar business
@li-height: 40px;
@guessed-back-color: rgb(250, 250, 250);

ul,
ol {
  padding: 0;
  margin: 8px 4px 0px 0px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0px;
}
li {
  line-height: 20px;
  margin: 0px 0px 3px 3px;
}
.small-text { font-size: 10px; }
#sidebar { background-color: @guessed-back-color; }
#layer-list {
  li { // li eles get a lot from bootstrap .navbar-inner
    height: @li-height;
    line-height: @li-height;
    border-radius: 0px;
    > span, > div > span {
      margin-left: 10px;
      a:hover {
        text-decoration: none;
      }
    }
  }
}

// Styles for Earth Fissure layer
.line() {
  fill: none;
  stroke-width: 2px;

}

@hoverColor: red;

.hover() {
  &:hover {
    stroke: @hoverColor;
    stroke-width: 4px;
    cursor: pointer;
    transition: all .25s ease-in-out;
  }
}

path[styler="Reported, Unconfirmed Earth Fissure"] {
  .line();
  .hover();
  stroke: green;
  stroke-dasharray: 10 4;
}

path[styler="Discontinuous Earth Fissure"] {
  .line();
  .hover();
  stroke: red;
}

path[styler="Continuous Earth Fissure"] {
  .line();
  .hover();
  stroke: black;
}

// Styles for Active Faults Layer
path[styler="2.13.2"] {
  .line();
  .hover();
  stroke: orange;
}

path[styler="2.13.3"] {
  .line();
  .hover();
  stroke: green;
}

path[styler="2.13.4"] {
  .line();
  .hover();
  stroke: purple;
}

// Styles for Earthquake Layer
#earthquakes-layer {
  path:hover {
    .hover();
    fill-opacity: 1;
    fill: @hoverColor;
  }
}
