@import "../vendor/bootstrap/less/bootstrap";
@import "../vendor/bootstrap/less/responsive";

@gridGutterWidth: 0px;
@gridGutterWidth1200: 0px;
@gridGutterWidth768: 0px;

@bingInterstate: #dac6e1;
@bingHighway: #e6d8bb;
@bingForest: #eaede2;
@bingReservation: #f5f1e8;

@themeColor: @bingForest;

@navbarBackgroundHighlight: @themeColor;
@linkColor: darken(@themeColor, 50%);
@navbarText: @linkColor;
@navbarLinkColor: @linkColor;
@navbarLinkColorHover: darken(@linkColor, 15%);
@navbarLinkColorActive: darken(@linkColor, 15%);
@sidebarBackgroundColor: lighten(@themeColor, 6%);

@btnPrimaryBackground: #08c;

html, body, .fill {
  height: 100%;
}

#main-container {
  padding-top: 40px; // Get out of the way of the navbar
  // Some trick to get the padding included in the container height and rid yourself of scrollbars                 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*height: -moz-calc(~"100% - 40px");
  height: -webkit-calc(~"100% - 40px");
  height: -o-calc(~"100% - 40px");
  height: calc(~"100% - 40px");*/
}

// Top Navbar business
.navbar {
  margin-bottom: 0px;
  #nav {
    padding: 0px 15px;
  }
}

// Sidebar business
@li-height: 40px;

@layerListMargin: 4px;

.small-text { font-size: 10px; }

#sidebar {
  background-color: @sidebarBackgroundColor;
  overflow-y: hidden;

  //override some Bootstrappin'
  .accordion {
    margin: 0px;
  }

  .accordion-group {
    border: none;
    border-radius: 0px;
    margin: 0px;
  }

  .accordion-inner {
    border-top: none;
    background-color: @sidebarBackgroundColor;
  }

  .legendItems {
    td {
      vertical-align: middle;
    }
  }

  #layer-list {
    padding: 0px;
    margin: 2* @layerListMargin @layerListMargin;

    li { // li eles get a lot from bootstrap .navbar-inner
      height: @li-height;
      line-height: @li-height;
      border-radius: 0px;
      margin-bottom: @layerListMargin;

      label {
        padding-top: 0px;
      }

      > span > a {
        font-weight: 400;
        &:hover {
          font-weight: 450;
        }
      }

      > span, > div > span {
        margin-left: 5px;
        a:hover {
          text-decoration: none;
        }
      }

      .icon-list {
        .opacity(45);
      }
    }

    // Legend fixes
    .legendItems {
      margin: 0px;
    }
  }
}

// Styles for Earth Fissure layer
@hoverColor: red;

.line() {
  fill: none;
  stroke-width: 2px;
}

.hover() {
  &:hover {
    stroke: @hoverColor;
    stroke-width: 4px;
    cursor: pointer;
    transition: all 1s ease-in-out;
  }
}

path[styler="Reported, Unconfirmed Earth Fissure"] {
  .line();
  .hover();
  stroke: green;
  stroke-dasharray: 10 4;
}

path[styler="Discontinuous Earth Fissure"] {
  .line();
  .hover();
  stroke: red;
}

path[styler="Continuous Earth Fissure"] {
  .line();
  .hover();
  stroke: black;
}

// Styles for Active Faults Layer
path[styler="2.13.2"] {
  .line();
  .hover();
  stroke: orange;
}

path[styler="2.13.3"] {
  .line();
  .hover();
  stroke: green;
}

path[styler="2.13.4"] {
  .line();
  .hover();
  stroke: purple;
}

// Styles for Earthquake Layer
#earthquakes-layer {
  path:hover {
    .hover();
    fill-opacity: 1;
    fill: @hoverColor;
  }
}
* {
  -webkit-print-color-adjust:exact;
}

// Print modal
#preview-map-container {
  display: inline;
  float:left;
  width: 700px;
  height:600px;
  border-style: solid;
  border-color: black;
  border-width:3px;
}
#legend-container {
  display: inline;
  float:left;
}

// Print map function
@media print {
  @page {
    size:landscape;
  }
  * {
    -webkit-print-color-adjust:exact;
  }
  body * {
    visibility:hidden;
  }
  #preview-map-container * {
    display: inline;
    float:left;

  }
  #legend-container * {
    display: inline;
    float:left;
  }
}