@import "../vendor/bootstrap/less/bootstrap";
@import "../vendor/bootstrap/less/responsive";

@gridGutterWidth: 0px;
@gridGutterWidth1200: 0px;
@gridGutterWidth768: 0px;

@bingInterstate: #dac6e1;
@bingHighway: #e6d8bb;
@bingForest: #eaede2;
@bingReservation: #f5f1e8;

@themeColor: @bingForest;

@navbarBackgroundHighlight: @themeColor;
@linkColor: darken(@themeColor, 50%);
@navbarText: @linkColor;
@navbarLinkColor: @linkColor;
@navbarLinkColorHover: darken(@linkColor, 15%);
@navbarLinkColorActive: darken(@linkColor, 15%);
@sidebarBackgroundColor: lighten(@themeColor, 6%);

@btnPrimaryBackground: #08c;

html, body, .fill {
  height: 100%;
}

#main-container {
  //padding-top: 40px; // Get out of the way of the navbar
  // Some trick to get the padding included in the container height and rid yourself of scrollbars                 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 40px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  /*height: -moz-calc(~"100% - 40px");
  height: -webkit-calc(~"100% - 40px");
  height: -o-calc(~"100% - 40px");
  height: calc(~"100% - 40px");*/
}

// Top Navbar business
.navbar {
  margin-bottom: 0px;
  #nav {
    padding: 0px 15px;
  }
}

// Sidebar business
@li-height: 40px;

@layerListMargin: 4px;

.small-text { font-size: 10px; }

#sidebar {
  background-color: @sidebarBackgroundColor;
  overflow-y: hidden;

   p {
     text-align: center;
     padding: 10px;
     font-size: 10px;
   }

  //override some Bootstrappin'
  .accordion {
    margin: 0px;
  }

  .accordion-group {
    border: none;
    border-radius: 0px;
    margin: 0px;
  }

  .accordion-inner {
    border-top: none;
    background-color: @sidebarBackgroundColor;
  }

  .legendItems {
    td {
      vertical-align: middle;
    }
  }

  #fireRisk-legend {
    td {
      padding: 0px;
    }
  }

  #layer-list {
    padding: 0px;
    margin: 2* @layerListMargin @layerListMargin;

    li { // li eles get a lot from bootstrap .navbar-inner
      height: @li-height;
      line-height: @li-height;
      border-radius: 0px;
      margin-bottom: @layerListMargin;
      padding-left: 10px;

      .onoffswitch {
        margin-top: 4px;
      }

      a {
        vertical-align: middle;
        margin-left: 5px;
      }

      label {
        padding-top: 0px;
      }

      > span > a {
        font-weight: 400;
        &:hover {
          font-weight: 450;
        }
      }

      > span, > div > span {
        margin-left: 5px;
        a:hover {
          text-decoration: none;
        }
      }

      .icon-list-alt {
        .opacity(45);
      }
    }

    // Legend fixes
    .legendItems {
      margin: 0px;
    }
  }
}

// Styles for Earth Fissure layer
@hoverColor: red;

.line() {
  fill: none;
  stroke-width: 2px;
}

.hover() {
  &:hover {
    stroke: @hoverColor;
    stroke-width: 4px;
    cursor: pointer;
    transition: all 1s ease-in-out;
  }
}

path[styler="Reported, Unconfirmed Earth Fissure"] {
  .line();
  .hover();
  stroke: green;
  stroke-dasharray: 10 4;
}

path[styler="Discontinuous Earth Fissure"] {
  .line();
  .hover();
  stroke: red;
}

path[styler="Continuous Earth Fissure"] {
  .line();
  .hover();
  stroke: black;
}

// Styles for Active Faults Layer
path[styler="2.13.2"] {
  .line();
  .hover();
  stroke: orange;
}

path[styler="2.13.3"] {
  .line();
  .hover();
  stroke: green;
}

path[styler="2.13.4"] {
  .line();
  .hover();
  stroke: purple;
}

// Styles for Earthquake Layer
#earthquakes-layer {
  path:hover {
    .hover();
    fill-opacity: 1;
    fill: @hoverColor;
  }
}
* {
  -webkit-print-color-adjust:exact;
}

// Download modal
#downloadModalBody {
  .tall-button {
    height: 50px;
    line-height: 50px;
    padding: 0px;
  }

  a i {
    margin-left: 10px;
  }

  .pull-left {
    margin-right: 15px;
  }

  .fixed-width {
    width: 200px;
  }

  .for-god-sakes-center-me {
    padding-top: 15px;
    text-align: center;
    .btn {
      width: 135px;
    }
  }
}

// Scrollable legend ahhhhh!
#sidebar {
  height: 100%;
  overflow: auto;
}

// Print modal
#preview-map-container {
  display: inline;
  float:left;
  width: 700px;
  height:600px;
  border-style: solid;
  border-color: black;
  border-width:3px;
}

#print-container #legend-container .table {
  width: 250px;
}

#print-container #legend-container .table .legendItems .legend-text {
  font-size: 11px;
}

#print-container #legend-container .table .legendItems .legend-item-activefaults .legend-image-activefaults {
  width: 75px;
  padding: 0px;
}

#print-container #legend-container .table .legendItems .legend-item-magnitude .legend-image-magnitude {
  width: 75px;
  padding: 0px;
}

#print-container #legend-container .table .legendItems .legend-item-fisstype .legend-image-fisstype {
  width: 75px;
  padding: 0px;
}

#print-container #legend-container .table .legendItems .legend-item-symbol .legend-image-symbol {
  width: 75px;
  padding: 0px;
}

#legend-container {
  display: inline;
  float:left;
}

// Print map function
@media print {
  @page {
    size:landscape;
  }
  * {
    -webkit-print-color-adjust:exact;
  }
  body * {
    visibility: hidden;
  }
  #title {
    visibility: visible;
  }
  #print-container #legend-container {
    width: 200px;
    padding: 0px;
  }
  #print-container {
    visibility: visible;
  }
  #print-container #preview-map-container, #legend-container {
    visibility: visible;
    display: table-cell;
  }
  #print-container #preview-map-container * {
    visibility: visible;
  }
  #print-container #legend-container * {
    visibility: visible;
    white-space: nowrap;
  }
}

.clear-fix {
  clear: both;
}


// Popovers
.popover {
  max-width: 550px;
}

// switches
.onoffswitch {
    position: relative; width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;

    vertical-align: middle;
    display: inline-block;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #C3CCAD; border-radius: 5px;
}

.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 5px;
    background-color: #60BF54; color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 5px;
    background-color: #F8F8F8; color: @linkColor;
    text-align: right;
}

.onoffswitch-switch {
    width: 20px; margin: 0px;
    background: #FFFFFF;
    border: 1px solid #C3CCAD; border-radius: 5px;
    position: absolute; top: 0; bottom: 0; right: 38px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);

  height: 20px;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
