doctype 5
html(lang="en")
    head
        title Arizona Hazards
        meta(charset="utf-8")
        link(rel="stylesheet", href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css")
        link(rel="stylesheet", href="vendor/leaflet-draw/leaflet.draw.css")
        link(rel="stylesheet", href="styles/base.css")
    body
        .navbar.navbar-fixed-top
            #nav.navbar-inner
                .brand Arizona Hazards Viewer
                .navbar-search.pull-right
                    input(type="text", placeholder="Find Location").search-query
                ul#menu.nav
                    li.dropdown
                        a(href="#", data-toggle="dropdown").dropdown-toggle Base Layers
                            b.caret
                        ul(role="menu", aria-labelledby="baseLayerDropdown").dropdown-menu
                            li(role="presentation")
                                a(role="menuitem", href="#") Bing Roads
                            li(role="presentation")
                                a(role="menuitem", href="#") Bing Imagery
                            li(role="presentation")
                                a(role="menuitem", href="#") MapBox Terrain
                    li
                        a(href="#") Add Layer
                    li
                        a(href="#") Print
                    li
                        a(href="#") Export
                    li
                        a(href="#") Help
        #main-container.fill
            .row-fluid.fill
                #map.span9.fill                                
                #sidebar.span3.fill
                    ul#layer-list.unstyled

        script(id="model-template",type="text/html")
                li.navbar-inner
                    input(id!="<%= model.get('id') %>", type="checkbox")
                    span <%= model.get('layerName') %>
                    .pull-right
                        span
                            a(href="#").icon-info-sign
                        span
                            a(href="#")
                                span.icon-adjust
                            span.muted.small-text 100%

        script(src="http://code.jquery.com/jquery-1.9.1.min.js")
        script(src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js")
        script(src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js")
        script(src="vendor/leaflet-draw/leaflet.draw.js")
        script(src="http://d3js.org/d3.v3.min.js")
        script(src="vendor/leaflet-d3-layer.js")
        script(src="vendor/underscore-min.js")
        script(src="vendor/backbone-min.js")
        script(src="scripts/model-layers.js")
        script(src="scripts/view-layers.js")
        script(src="scripts/app.js")
        script(src="scripts/draw.js")         